.sidenav li {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.sidenav li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-4);
  border-radius: var(--gap);
}

.sidenav li a {
  flex: 1;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color-1);
  font-weight: 500;
  padding: var(--gap-s) 0;
}

.sidenav li a:hover {
  color: var(--color-5);
}

@media (max-width: 700px) {
  .sidenav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sidenav li a {
    font-size: 0.9rem;
  }
}
